<div class="row">
    <div class="container-page">
        <h1 class="text-table">{{textPage}}</h1>
        <p class="text-sub-table"><mat-icon>{{constant_variables.ICON_INFORMATION}}</mat-icon>{{subTextPage}}</p>
    </div>
</div>

<div class="row">
    <div class="container-contact-list">
        <ng-container *ngFor="let item of listaContatos">
            <button mat-flat-button class="btn-action" matTooltip="{{item.description}}"
                (click)="openLink(item.link)"><mat-icon>{{item.icon}}</mat-icon> {{item.description}}</button>
        </ng-container>
    </div>
</div>