<div class="row">
    <div class="container-page">
        <h1 class="text-table">Lista de contatos</h1>
        <p class="text-sub-table"><mat-icon>information</mat-icon> Ao clicar em um dos botões abaixo, você será
            redirecionado para a pagina da rede social escolhida.</p>
    </div>
</div>

<div class="row">
    <div class="container-contact-list">
        <ng-container *ngFor="let item of listaContatos">
            <button mat-flat-button class="btn-action" matTooltip="{{item.description}}"
                (click)="openLink(item.link)"><mat-icon>{{item.icon}}</mat-icon> {{item.description}}</button>
        </ng-container>
    </div>
</div>