<!-- Inicio do formato aplicado antes do angular 16 -->
<!-- <div class="row">
    <div class="container-footer">
        <p [ngClass]="classColor">
            Todos os direitos reservados a Romar Software desde 2024. <br>
        </p>
    </div>
</div> -->
<!-- Fim do formato aplicado antes do angular 16 -->

<!-- Inicio do formato aplicado do angular 16 ou superior -->
<div class="row">
    <div class="container-footer">
        <p [ngClass]="classColor()">
            Todos os direitos reservados a Romar Software desde 2024. <br>
        </p>
    </div>
</div>
<!-- Fim do formato aplicado do angular 16 ou superior -->