<div class="row">
    <div class="container-page">
        <h1 class="text-table">{{textPage}}</h1>
        <p class="text-sub-table"><mat-icon>{{constant_variables.ICON_INFORMATION}}</mat-icon>{{subTextPage}}</p>
    </div>
</div>

<form [formGroup]="form">
    <div class="row">
        <div class="container-form">
            <mat-form-field appearance="outline" class="field-form-1">
                <mat-label hintLabel="máximo de 80 caracteres">Digite o Host de email</mat-label>
                <input matInput placeholder="Host de email" maxlength="80" #hostEmail formControlName="host">
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
                <mat-hint align="end" class="mat-icon-actions">{{hostEmail.value.length}}/80</mat-hint>
                <mat-error>{{hasErrorFormControl(form.controls['host'])}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-form-1">
                <mat-label hintLabel="máximo de 80 caracteres">Digite o SMTP de domínio do email</mat-label>
                <input matInput placeholder="SMTP de domínio do email" maxlength="80" #smtpEmail formControlName="smtp">
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
                <mat-hint align="end" class="mat-icon-actions">{{smtpEmail.value.length}}/80</mat-hint>
                <mat-error>{{hasErrorFormControl(form.controls['smtp'])}}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="container-form" style="flex-direction: row !important;">
            <mat-form-field appearance="outline" class="field-form-1">
                <mat-label hintLabel="máximo de 3 caracteres">Digite a porta principal do SMTP</mat-label>
                <input matInput placeholder="Porta principal do SMTP" maxlength="3" #portaPrincipal onlyNumber
                    formControlName="portaPrincipal">
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
                <mat-hint align="start" class="mat-icon-actions">{{constant_variables.ONLY_NUMBERS_ACCEPT}}</mat-hint>
                <mat-hint align="end" class="mat-icon-actions">{{portaPrincipal.value.length}}/3</mat-hint>
                <mat-error>{{hasErrorFormControl(form.controls['portaPrincipal'])}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-form-1">
                <mat-label hintLabel="máximo de 3 caracteres">Digite a porta secundaria do SMTP</mat-label>
                <input matInput placeholder="Porta secundaria do SMTP" maxlength="3" #portaSecundaria onlyNumber
                    formControlName="portaSecundaria">
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
                <mat-hint align="start" class="mat-icon-actions">{{constant_variables.ONLY_NUMBERS_ACCEPT}}</mat-hint>
                <mat-hint align="end" class="mat-icon-actions">{{portaSecundaria.value.length}}/3</mat-hint>
                <mat-error>{{hasErrorFormControl(form.controls['portaSecundaria'])}}</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="container-form">
            <mat-form-field appearance="outline" class="field-form-1">
                <mat-label hintLabel="máximo de 80 caracteres">Digite o endereço de email</mat-label>
                <input matInput placeholder="Endereço de email" maxlength="80" #email formControlName="email">
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
                <mat-hint align="end" class="mat-icon-actions">{{email.value.length}}/80</mat-hint>
                <mat-error>{{hasErrorFormControl(form.controls['email'])}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-form-1">
                <mat-label hintLabel="máximo de 20 caracteres">Digite a senha do email</mat-label>
                <input matInput placeholder="Senha do email" maxlength="20" #senha formControlName="senha"
                    [type]="hidePassword ? 'password' : 'text'">
                <mat-icon matSuffix class="mat-icon-actions" (click)="hidePassword = !hidePassword">{{hidePassword ?
                    'visibility' : 'visibility_off'}}</mat-icon>
                <mat-hint align="end" class="mat-icon-actions">{{senha.value.length}}/20</mat-hint>
                <mat-error>{{hasErrorFormControl(form.controls['senha'])}}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <mat-selection-list #itensEmail>
        <mat-list-option (click)="selectAll()" [selected]="isAllChecked">{{constant_variables.SELECT_ALL_LABEL}}
        </mat-list-option>
        <mat-list-option *ngFor="let item of listaEmail" [selected]="item.active" (click)="changeType(item)">
            {{item.description }}
        </mat-list-option>
    </mat-selection-list>

    <br>

    <div class="row">
        <div class="container-form-button">
            <button mat-flat-button class="btn-table" [matTooltip]="constant_variables.ICON_ACTION_CLEAN_LABEL"
                (click)="cleanForm()"><mat-icon>{{constant_variables.ICON_ACTION_CLEAN}}</mat-icon>
                {{constant_variables.ICON_ACTION_CLEAN_LABEL}}</button>
            <button mat-flat-button class="btn-table" [matTooltip]="constant_variables.ICON_ACTION_SAVE_LABEL"
                [disabled]="enableButton()"><mat-icon>{{constant_variables.ICON_ACTION_SAVE}}</mat-icon>
                {{constant_variables.ICON_ACTION_SAVE_LABEL}}
            </button>
        </div>
    </div>
</form>