$width-100: 100%;
$gap-10: 10px;
$display-flex: flex;
$max-width-mobile: 768px;
$width-40: 40%;
$width-20: 20%;
$flex-direction-column: column;
$width-10: 10%;
$justify-content-end: flex-end;
$justify-content-start: flex-start;
$align-items-center: center;
$width-90: 90%;
$height-100: 100%;
$flex-direction-row: row;
$primary-color: #005cbb;
$vertical-align-sub: sub;
$color-icon-active: green;
$color-icon-inactive: red;
$font-weight-700: 700;
$color-white: white;