@use "@angular/material" as mat;
@use "style-mixin" as mixins;
@use "style-icons" as icons;
@use "style-menu" as menu;
@use "style-snackbar" as snackbar;
@use "style-spinner" as spinner;
@use "style-table" as table;
@use "style-container" as container;
@use "style-icon-user" as iconUser;
@use "style-variables" as vars;

@include mat.core();

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$yellow-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
}

// Definição do tema
// $webSpa-theme: mat.m2-define-light-theme((
//   color: (
//     primary: $primary-palette,
//     accent: $accent-palette,
//     warn: $warn-palette
//   ),
//   density: (
//     scale: 0
//   )
// ));

// Aplica tema global
// @include mat.all-component-themes($webSpa-theme);

// // Define o tema (Light Theme)
// $webSpa-theme: mat.define-light-theme((
//   color: (
//     primary: mat.$azure-palette,
//     secondary: mat.$blue-palette
//   ),
//   density: (
//     scale: 0
//   )
// ));

// // Aplica o tema para todos os componentes
// @include mat.all-component-themes($webSpa-theme);


// ================================
// Global Styles
// ================================
html, body {
  height: vars.$height-100;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// ================================
// Helpers & Utilities
// ================================
.chevron {
  margin-left: vars.$auto;
}

.mr-5 {
  margin-right: 5px;
}


// ================================
// Typography & Links
// ================================
h1 {
  color: vars.$primary-color;
}

.custom-link {
  color: vars.$primary-color;
  text-decoration: none;
  transition: color 0.3s;
  cursor: vars.$pointer;
  font-weight: vars.$font-weight-700;

  &:hover {
    color: vars.$color-info;
    text-decoration: underline;
  }
}


// ================================
// Angular Material Overrides
// ================================

// Aba com padding customizado
.mat-tab-padding {
  padding-top: 30px !important;
}

// Ajuste cor do label da tab (Angular 20)
// Use ::ng-deep se necessário para garantir estilo
.mat-tab-label-text {
  color: vars.$primary-color;
}