@mixin custom-container($varFlex, $varWidth, $varGap) {
    display: $varFlex;
    width: $varWidth;
    gap: $varGap;
}

@mixin custom-span($varColor, $varFontWeight) {
    color: $varColor !important;
    font-weight: $varFontWeight;
}

@mixin custom-icon($varSub, $varColor) {
    color: $varColor !important;
    vertical-align: $varSub;
}

@mixin setBgAndColor($var-background-color, $var-color) {
    background-color: $var-background-color !important;
    color: $var-color !important;
}

@mixin custom-containerr($var-display, $var-flex-direction, $var-justify-content, $var-width) {
    display: $var-display;
    flex-direction: $var-flex-direction;
    justify-content: $var-justify-content;
    width: $var-width;
}

@mixin set-scale-icon($var-transformation) {
    /* 
    transform: scale(1); tamanho padrão do icone 
    transform: scale(1.5); aumenta o tamanho do icone em 50% 
    transform: scale(0.5); reduz o tamanho do icone em 50% 
    */
    transform: scale($var-transformation);
}

@mixin set-rotate-icon($var-transformation) {
    /* transform: rotate(0.5turn); gira o icone de cabeça para baixo */
    transform: rotate($var-transformation);
}
