@use "style-variables" as vars;

.background-spinner {
    background: #00000066;
    position: vars.$position-fixed;
    width: vars.$width-100;
    height: vars.$height-100;
    z-index: 1060 !important;
    display: vars.$display-flex;
    justify-content: vars.$justify-content-center;
    align-items: vars.$align-items-center;
}

.loader-spinner {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 6cm;
}
