@use "style-variables" as vars;

mat-toolbar {
    background-color: vars.$primary-color !important;
    justify-content: vars.$justify-content-sp-between;
    align-items: vars.$align-items-center;

    span {
        color: vars.$color-white;
        font-weight: vars.$font-weight-700;
    }

    mat-icon {
        color: vars.$color-white;
    }
}

.sidenav-container {
    width: vars.$width-100;
    height: vars.$height-100;
    mat-sidenav {
        background-color: vars.$primary-color !important;
        border-radius: 0px !important;
    }
}

.menu-area {
    color: vars.$color-white;
    text-align: vars.$text-align-center;
}

.menu-item {
    color: vars.$color-white;
    text-align: vars.$text-align-center;
}

.menu-item-text {
    color: vars.$color-white !important;
}

.mat-list-item-sub {
    padding-left: vars.$padding-left-20 !important;
}

.content {
    padding: 36px;
}
