@mixin custom-container($varFlex, $varWidth, $varGap) {
    display: $varFlex;
    width: $varWidth;
    gap: $varGap;
}

.container-page {
    @include custom-container($display-flex, $width-100, $gap-10);
    flex-direction: $flex-direction-column;
    align-items: $align-items-center;
    .text-table {
        width: $width-100;
        margin-bottom: 0;
    }
    .text-sub-table {
        width: $width-100;
        mat-icon {
            @include custom-icon($vertical-align-sub, $primary-color);
        }
    }
}

.container-filter {
    @include custom-container($display-flex, $width-100, $gap-10);
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }

    .search-name {
        width: $width-40;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }

    .search-profile {
        width: $width-40;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }

    .search-status {
        width: $width-20;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-filter-button {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-end;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }
    .btn-table {
        width: $width-15;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-table {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-start;
    align-items: $align-items-center;
    .text-table {
        width: $width-90;
    }
}

.container-table-button {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-end;
    align-items: $align-items-center;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }

    .text-table {
        width: $width-90;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }

    .btn-table {
        width: $width-20;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-pagination {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-end;
    align-items: $align-items-center;
}

.container-footer {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: center;
    align-items: $align-items-center;
    text-align: center;
    position: fixed;
    bottom: 0;
    color: $primary-color;
    @media only screen and (max-width: $max-width-mobile) {
        display: none;
    }
    .first-text {
        width: 100%;
        white-space: nowrap;
        word-break: break-all;
    }
}

.container-form {
    @include custom-container($display-flex, $width-100, $gap-10);
    flex-direction: $flex-direction-column;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }

    .field-form-1 {
        width: $width-100;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }

    .field-form-2 {
        width: $width-100;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }

    .field-form-3 {
        width: $width-100;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-form-button {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-end;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }
    .btn-table {
        width: $width-15;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-login {
    display: flex;
    justify-content: center; // Centraliza horizontalmente
    align-items: center; // Centraliza verticalmente
    height: 100vh; // Define a altura como 100% da viewport
    flex-direction: column;
    background: linear-gradient(to bottom right, $primary-color, #005d8c);
    .box-login {
        width: 600px; // Largura da div
        height: 400px; // Altura da div
        background: $color-white; // Cor de fundo
        text-align: center; // Centraliza o texto
        flex-direction: column;
        padding: 0px 30px 0px 30px;

        @media only screen and (max-width: $max-width-mobile) {
            width: 300px; // Largura da div
            height: 440px; // Altura da div
        }

        .field-form-1 {
            width: 100%;
            margin-bottom: 10px;
        }

        .field-form-2 {
            width: 100%;
            margin-bottom: 10px;
        }

        .box-login-2 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .box-login-3 {
            display: flex;
            flex-direction: column;

            .p-first-text {
                margin-bottom: 0;
            }
        }
    }
}

.container-form-user-create {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-end;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }
    .btn-action {
        width: $width-30;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-contact-list {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: center;
    text-align: center;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }
    .btn-action {
        width: $width-20;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-form-finance {
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    margin-right: 16px;
    display: flex;
    @media only screen and (max-width: $max-width-mobile) {
        width: $width-100;
        margin-right: 0px;
    }
    .field-form-100 {
        width: $width-100;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-form-finance2 {
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    margin-right: 16px;
    display: flex;
    @media only screen and (max-width: $max-width-mobile) {
        width: $width-100;
        margin-right: 0px;
    }
    mat-card {
        max-height: 87%;
        @media only screen and (max-width: $max-width-mobile) {
            max-height: $height-100;
        }
    }
    .field-form-100 {
        width: $width-100;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
    .container-data {
        display: flex;
        .p-left-1 {
            width: 50%;
            margin-right: 20px;
            color: $color-success;
            font-weight: $font-weight-700;
            @media only screen and (max-width: $max-width-mobile) {
                width: $width-100;
            }
        }
        .p-right-1 {
            width: 50%;
            font-weight: $font-weight-700;
            @media only screen and (max-width: $max-width-mobile) {
                width: $width-100;
            }
        }
        .p-left-2 {
            width: 50%;
            margin-right: 20px;
            color: $color-error;
            font-weight: $font-weight-700;
            @media only screen and (max-width: $max-width-mobile) {
                width: $width-100;
            }
        }
        .p-right-2 {
            width: 50%;
            font-weight: $font-weight-700;
            @media only screen and (max-width: $max-width-mobile) {
                width: $width-100;
            }
        }
        .progress-bar {
            display: flex;
        }
    }
}

.container-subform-finance {
    justify-content: center;
    flex-direction: row;
    width: $width-100;
    display: flex;
    @media only screen and (max-width: $max-width-mobile) {
        width: $width-100;
        flex-direction: column;
        justify-content: flex-start;
    }
    .field-form-1 {
        width: 15%;
        margin-right: 16px;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
            margin-right: 0px;
        }
    }
    .field-form-2 {
        width: 50%;
        margin-right: 16px;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
            margin-right: 0px;
        }
    }
}

.mat-tab-padding {
    padding-top: 30px !important;
}

.mat-tab-label-text {
    color: $primary-color;
}
