.background-spinner {
    background: #00000066;
    position: $position-fixed;
    width: $width-100;
    height: $height-100;
    z-index: 1060 !important;
    display: $display-flex;
    justify-content: $justify-content-center;
    align-items: $align-items-center;
}

.loader-spinner {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 6cm;
}
