@use "style-variables" as vars;

table {
  width: vars.$width-100;
  overflow: vars.$auto;

  .tr-header {
    background-color: vars.$primary-color;
  }

  th {
    color: vars.$color-white;
    font-weight: vars.$font-weight-700;
  }

  .th-center {
    text-align: vars.$text-align-center;
  }

  .th-center-chk-todos {
    text-align: vars.$text-align-center;
    align-content: vars.$align-content-center;
  }

  .td-center {
    text-align: vars.$text-align-center;
  }

  .td-center-chk-todos {
    text-align: vars.$text-align-center;
    align-content: vars.$align-content-center;
  }
}

mat-paginator {
  color: vars.$primary-color !important;
}

mat-selection-list {
  padding: 8px 0px 16px;
}
