$max-width-mobile: 768px;

$width-10: 10%;
$width-15: 15%;
$width-20: 20%;
$width-30: 30%;
$width-40: 40%;
$width-50: 50%;
$width-60: 60%;
$width-90: 90%;
$width-100: 100%;
$gap-10: 10px;
$height-100: 100%;
$width-auto: auto;
$height-auto: auto;

$display-flex: flex;
$flex-direction-column: column;
$flex-direction-row: row;

$justify-content-end: flex-end;
$justify-content-start: flex-start;
$justify-content-center: center;
$justify-content-sp-between: space-between;
$align-items-center: center;
$vertical-align-sub: sub;
$text-align-center: center;
$position-fixed: fixed;
$flex-wrap: wrap;
$align-content-center: center;

$font-weight-700: 700;
$padding-left-20: 20px;
$mb-10: 10px;
$mb-0: 0;
$pt-16: 16px;
$mr-0: 0px;
$mr-16: 16px;
$mr-20: 20px;
$auto: auto;
$pointer: pointer;

$primary-color: #005cbb;
$color-icon-active: #51a351;
$color-icon-inactive: #bd362f;
$color-error: #bd362f;
$color-success: #51a351;
$color-info: #2f96b4;
$color-warning: #f89406;
$color-white: white;
