.row {
    display: $display-flex;
    margin-bottom: 2em;
    @media only screen and (max-width: $max-width-mobile) {
        flex-wrap: $flex-wrap;
    }
}

.container-form-finance {
    @include custom-containerr($display-flex, $flex-direction-column, $justify-content-start, $width-50);
    margin-right: $mr-16;
    @media only screen and (max-width: $max-width-mobile) {
        width: $width-100;
        margin-right: 0px;
    }
    .field-form {
        width: $width-100;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-form-finance2 {
    @include custom-containerr($display-flex, $flex-direction-column, $justify-content-start, $width-50);
    margin-right: $mr-16;
    @media only screen and (max-width: $max-width-mobile) {
        width: $width-100;
        margin-right: 0px;
    }
    mat-card {
        max-height: 87%;
        @media only screen and (max-width: $max-width-mobile) {
            max-height: $height-100;
        }
    }
    .field-form {
        width: $width-100;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
    .container-data {
        display: $display-flex;
        .p-left-1 {
            width: $width-50;
            margin-right: $mr-20;
            color: $color-success;
            font-weight: $font-weight-700;
            @media only screen and (max-width: $max-width-mobile) {
                width: $width-100;
            }
        }
        .p-right-1 {
            width: $width-50;
            font-weight: $font-weight-700;
            @media only screen and (max-width: $max-width-mobile) {
                width: $width-100;
            }
        }
        .p-left-2 {
            width: $width-50;
            margin-right: $mr-20;
            color: $color-error;
            font-weight: $font-weight-700;
            @media only screen and (max-width: $max-width-mobile) {
                width: $width-100;
            }
        }
        .p-right-2 {
            width: $width-50;
            font-weight: $font-weight-700;
            @media only screen and (max-width: $max-width-mobile) {
                width: $width-100;
            }
        }
        .progress-bar {
            display: $display-flex;
        }
    }
}

.container-subform-finance {
    justify-content: $justify-content-center;
    flex-direction: $flex-direction-row;
    width: $width-100;
    display: $display-flex;
    @media only screen and (max-width: $max-width-mobile) {
        width: $width-100;
        flex-direction: $flex-direction-column;
        justify-content: $justify-content-start;
    }
    .field-form-1 {
        width: $width-15;
        margin-right: $mr-16;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
            margin-right: $mr-0;
        }
    }
    .field-form-2 {
        width: $width-50;
        margin-right: $mr-16;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
            margin-right: $mr-0;
        }
    }
}

.container-contact-list {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-center;
    text-align: $text-align-center;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }
    .btn-action {
        width: $width-20;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-detail-record {
    @include custom-containerr($display-flex, $flex-direction-row, $justify-content-center, $width-100);
    .container-information {
        @include custom-containerr($display-flex, $flex-direction-column, $justify-content-center, $width-100);
        text-align: $text-align-center;
        .p-title {
            width: $width-100;
            margin-bottom: $mb-0;
            color: $primary-color;
            font-weight: $font-weight-700;
        }
        .p-text {
            width: $width-100;
            margin-bottom: $mb-0;
            color: $primary-color;
        }
    }
}

.container-alert {
    display: $display-flex;
    justify-content: $justify-content-center;
    align-items: $align-items-center;
    height: 100vh;
    flex-direction: $flex-direction-column;
    background: linear-gradient(to bottom right, $primary-color, #005d8c);
    .box-alert {
        width: 600px;
        height: 300px;
        background: $color-white;
        text-align: $text-align-center;
        flex-direction: $flex-direction-column;
        padding: 0px 30px 0px 30px;

        @media only screen and (max-width: $max-width-mobile) {
            width: 300px;
            height: 440px;
        }

        .field-form-1 {
            width: $width-100;
            margin-bottom: $mb-10;
        }

        .field-form-2 {
            width: $width-100;
            margin-bottom: $mb-10;
        }

        .box-alert-2 {
            @include custom-containerr($display-flex, $flex-direction-column, $justify-content-sp-between, $width-100);
            align-items: $align-items-center;
        }
    }
}

.container-page-alert {
    @include custom-container($display-flex, $width-100, $gap-10);
    flex-direction: $flex-direction-column;
    align-items: $align-items-center;
    padding-top: $pt-16;

    .icon-alert {
        font-size: xxx-large;
        width: $width-auto;
        height: $height-auto;
        color: $primary-color;
    }

    .text-table {
        width: $width-100;
        margin-bottom: 0;
    }

    .text-sub-table {
        width: $width-100;
        mat-icon {
            @include custom-icon($vertical-align-sub, $primary-color);
        }
    }
}

.container-form-row {
    @include custom-container($display-flex, $width-100, $gap-10);
    flex-direction: $flex-direction-row;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }

    .field-form {
        width: $width-100;
        margin-bottom: $mb-10;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-form-col {
    @include custom-container($display-flex, $width-100, $gap-10);
    flex-direction: $flex-direction-column;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }

    .field-form {
        width: $width-100;
        margin-bottom: $mb-10;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-form-button {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-end;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }
    .btn-table {
        width: $width-15;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-footer {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-center;
    align-items: $align-items-center;
    text-align: $text-align-center;
    position: $position-fixed;
    bottom: 0;
    @media only screen and (max-width: $max-width-mobile) {
        display: none;
    }
    .text-primary {
        width: $width-100;
        white-space: nowrap;
        word-break: break-all;
        color: $primary-color;
    }
    .text-white {
        width: $width-100;
        white-space: nowrap;
        word-break: break-all;
        color: $color-white;
    }
}

.container-page {
    @include custom-container($display-flex, $width-100, $gap-10);
    flex-direction: $flex-direction-column;
    align-items: $align-items-center;
    .text-table {
        width: $width-100;
        margin-bottom: 0;
    }
    .text-sub-table {
        width: $width-100;
        mat-icon {
            @include custom-icon($vertical-align-sub, $primary-color);
        }
    }
}

.container-filter {
    @include custom-container($display-flex, $width-100, $gap-10);
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }

    .filter-40 {
        width: $width-40;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }

    .filter-20 {
        width: $width-20;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-filter-button {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-end;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }
    .btn-table {
        width: $width-15;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-table {
    overflow: $auto;
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-start;
    align-items: $align-items-center;
    .text-table {
        width: $width-90;
    }
}

.container-table-button {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-end;
    align-items: $align-items-center;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }

    .text-table {
        width: $width-90;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }

    .btn-table {
        width: $width-20;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

.container-pagination {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-end;
    align-items: $align-items-center;
}

/* Classes utilizadas pelas telas iniciais (Login, Esqueci senha, Criação de usuario) */

.container-form-fix {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: $flex-direction-column;
    background: linear-gradient(to bottom right, $primary-color, #005d8c);
    .box-fix {
        width: 600px;
        height: 400px;
        background: $color-white;
        text-align: center;
        flex-direction: $flex-direction-column;
        padding: 0px 30px 0px 30px;

        @media only screen and (max-width: $max-width-mobile) {
            width: 300px;
            height: 440px;
        }

        .field-form {
            width: 100%;
            margin-bottom: 10px;
        }

        .box-fix-login {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .sub-box-fix-login {
            display: flex;
            flex-direction: column;

            .p-first-text {
                margin-bottom: 0;
            }
        }
    }
}

.container-form-inital-actions {
    @include custom-container($display-flex, $width-100, $gap-10);
    justify-content: $justify-content-end;
    @media only screen and (max-width: $max-width-mobile) {
        flex-direction: $flex-direction-column;
    }
    .btn-action {
        width: $width-30;
        @media only screen and (max-width: $max-width-mobile) {
            width: $width-100;
        }
    }
}

/* Fim das classes utilizadas pelas telas iniciais (Login, Esqueci senha, Criação de usuario) */
