<div class="row">
    <div class="container-page">
        <h1 class="text-table">{{textPage}}</h1>
        <p class="text-sub-table"><mat-icon>{{constant_variables.ICON_INFORMATION}}</mat-icon>{{subTextPage}} </p>
    </div>
</div>

<form [formGroup]="form">
    <div class="row">
        <div class="container-form-col">
            <mat-form-field appearance="outline" class="field-form">
                <mat-label>Selecione o modelo do relatório a ser gerado</mat-label>
                <mat-select formControlName="report">
                    @for(report of reportList; track report){
                    <mat-option value={{report.id}}>{{report.description}}</mat-option>
                    }
                </mat-select>
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="container-form-row">
            <mat-form-field appearance="outline" class="field-form">
                <input matInput readonly [matDatepicker]="startPicker" placeholder="Data Inicial" name="txtStartDate"
                    (click)="startPicker.open()" #txtStartDate formControlName="startDate">
                <mat-datepicker-toggle matIconSuffix [for]="startPicker">
                    <mat-icon matDatepickerToggleIcon
                        class="mat-icon-actions">{{constant_variables.ICON_ACTION_CALENDAR}}</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #startPicker></mat-datepicker>
                <mat-hint align="end" class="mat-icon-actions">{{txtStartDate.value.length}} / 10</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="field-form">
                <input matInput readonly [matDatepicker]="endPicker" placeholder="Data Final" name="txtEndDate"
                    (click)="endPicker.open()" #txtEndDate formControlName="endDate">
                <mat-datepicker-toggle matIconSuffix [for]="endPicker">
                    <mat-icon matDatepickerToggleIcon
                        class="mat-icon-actions">{{constant_variables.ICON_ACTION_CALENDAR}}</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #endPicker></mat-datepicker>
                <mat-hint align="end" class="mat-icon-actions">{{txtEndDate.value.length}} / 10</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="container-form-row">
            <mat-form-field appearance="outline" class="field-form">
                <mat-label>Status dos dados</mat-label>
                <mat-select multiple formControlName="status">
                    @for(status of statusList; track status){
                    <mat-option value={{status.id}}>{{status.description}}</mat-option>
                    }
                </mat-select>
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-form">
                <mat-label>Formato do relatório</mat-label>
                <mat-select formControlName="format">
                    @for(file of fileList; track file){
                    <mat-option value={{file.id}}>{{file.description}}</mat-option>
                    }
                </mat-select>
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
            </mat-form-field>
        </div>
    </div>
</form>

<div class="row">
    <div class="container-form-button">
        <button mat-flat-button class="btn-table" [matTooltip]="constant_variables.ICON_ACTION_CLEAN_LABEL"
            (click)="cleanForm()"><mat-icon>{{constant_variables.ICON_ACTION_CLEAN}}</mat-icon>
            {{constant_variables.ICON_ACTION_CLEAN_LABEL}}</button>
        <button mat-flat-button class="btn-table" matTooltip="Gerar Relatório"><mat-icon>report</mat-icon> Gerar
            Relatório
        </button>
    </div>
</div>