<div class="row">
    <div class="container-detail-record">
        <div class="container-information">
            <p class="p-title">ID do Registro</p>
            <p class="p-text">{{id}}</p>
        </div>
        <div class="container-information">
            <p class="p-title">Data de cadastro</p>
            <p class="p-text">20/05/2024</p>
        </div>
        <div class="container-information">
            <p class="p-title">Data de alteração</p>
            <p class="p-text">25/05/2024</p>
        </div>
    </div>
</div>