<div class="row">
    <div class="container-page">
        <h1 class="text-table">Configuração do Sistema</h1>
        <p class="text-sub-table"><mat-icon>information</mat-icon> Por meio da consulta, você pode consultar diferentes
            usuários, ou realizar uma busca mais
            aprofundada,
            preenchendo 1 ou mais campos dos filtros abaixo.</p>
    </div>
</div>

<mat-selection-list #itensLog>
    <mat-list-option style="font-weight: bold;" (click)="selectAll()">Marcar todas opções</mat-list-option>
    <mat-list-option *ngFor="let item of listaLog" [selected]="item.active">
        {{item.description}}
    </mat-list-option>
</mat-selection-list>

<div class="row">
    <div class="container-form-button">
        <button mat-flat-button class="btn-table" matTooltip="Cancelar"><mat-icon>refresh</mat-icon> Restaurar
            Padrão</button>
        <button mat-flat-button class="btn-table" matTooltip="Gravar dados"><mat-icon>save</mat-icon> Gravar
            dados</button>
    </div>
</div>