<form [formGroup]="form" (ngSubmit)="confirm()">
    <div class="container-form-fix">
        <div class="box-fix">
            <div class="row">
                <div class="container-page">
                    <h1 class="text-table">Solicitação de criação de usuário</h1>
                </div>
            </div>
            <mat-form-field appearance="outline" class="field-form">
                <mat-label hintLabel="máximo de 80 caracteres">Digite seu email de acesso</mat-label>
                <input matInput placeholder="Email" maxlength="80" #emailUsuario formControlName="email">
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_EMAIL}}</mat-icon>
                <mat-hint align="end">{{emailUsuario.value.length}}/80</mat-hint>
                <mat-error>{{hasErrorFormControl(form.controls['email'])}}</mat-error>
            </mat-form-field>
            <mat-form-field class="search-profile" appearance="outline" class="field-form">
                <mat-label>Selecione um perfil</mat-label>
                <mat-select formControlName="profile">
                    <mat-option value=2>Colaborador</mat-option>
                    <mat-option value=3>Cliente</mat-option>
                </mat-select>
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
                <mat-error>{{hasErrorFormControl(form.controls['profile'])}}</mat-error>
            </mat-form-field>
            <div class="row">
                <div class="container-form-inital-actions">
                    <button mat-flat-button class="btn-action" matTooltip="Cancelar"
                        [routerLink]="['/login']"><mat-icon>{{constant_variables.ICON_ACTION_CANCEL}}</mat-icon>
                        {{constant_variables.ICON_ACTION_CANCEL_LABEL}}</button>
                    <button mat-flat-button class="btn-action" matTooltip="Confirmar" (click)="confirm()"
                        [disabled]="!form.valid"><mat-icon>manage_accounts</mat-icon> Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<app-footer [classColor]="'text-white'"></app-footer>