<div class="container-alert">
    <div class="box-alert">
        <div class="row">
            <div class="container-page-alert">
                <mat-icon class="icon-alert">crisis_alert</mat-icon>
                <h1 class="text-table">Erro 404!!</h1>
                <p>A URL solicitada não foi encontrada para sua navegação no sistema</p>
            </div>
        </div>
        <div class="row">
            <div class="box-alert-2">
                <button mat-flat-button class="btn-table" matTooltip="Cancelar"
                    (click)="voltar()"><mat-icon>{{constant_variables.ICON_ACTION_UNDO}}</mat-icon>
                    {{constant_variables.ICON_ACTION_UNDO_LABEL}}
                </button>
            </div>
        </div>
    </div>
</div>