<div class="row">
    <div class="container-page">
        <h1 class="text-table">{{textTable}}</h1>
        <p class="text-sub-table"><mat-icon>{{constant_variables.ICON_INFORMATION}}</mat-icon>{{subTextTable}}</p>
    </div>
</div>

<div class="row">
    <div class="container-form-finance">
        <mat-form-field appearance="outline" class="field-form-100">
            <mat-label>Selecione o(s) banco(s)</mat-label>
            <mat-select multiple>
                <mat-option value=1>Bradesco</mat-option>
                <mat-option value=2>Itau</mat-option>
                <mat-option value=3>Nubank</mat-option>
                <mat-option value=4>Picpay</mat-option>
            </mat-select>
            <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_FIELDS}}</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field-form-100">
            <mat-label>Forma recebimento / pagamento</mat-label>
            <mat-select multiple>
                <mat-option value=1>Cartão Credito</mat-option>
                <mat-option value=2>Cartão Debito</mat-option>
                <mat-option value=3>Dinheiro</mat-option>
                <mat-option value=4>Pix</mat-option>
                <mat-option value=5>Transferência Bancaria</mat-option>
            </mat-select>
            <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_FIELDS}}</mat-icon>
        </mat-form-field>
    </div>
    <div class="container-form-finance2">
        <mat-card>
            <mat-card-content>
                <div class="container-data">
                    <p class="p-left-1">Receita</p>
                    <p class="p-right-1">{{10000 |currency:"BRL":"symbol"}} de {{100000 |currency:"BRL":"symbol"}}</p>
                </div>
                <div class="progress-bar">
                    <mat-progress-bar mode="buffer" [value]="60" matTooltip="60%"></mat-progress-bar>
                </div>
                <div class="container-data">
                    <p class="p-left-2">Despesa</p>
                    <p class="p-right-2">{{5000 |currency:"BRL":"symbol"}} de {{100000 |currency:"BRL":"symbol"}}</p>
                </div>
                <div class="progress-bar">
                    <mat-progress-bar mode="buffer" [value]="35" matTooltip="35%"></mat-progress-bar>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="container-subform-finance">
        <mat-form-field appearance="outline" class="field-form-1">
            <mat-label>Selecione o ano desejado</mat-label>
            <mat-select>
                <mat-option value=2024>2024</mat-option>
                <mat-option value=2023>2023</mat-option>
                <mat-option value=2022>2022</mat-option>
                <mat-option value=2021>2021</mat-option>
            </mat-select>
            <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_FIELDS}}</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field-form-2">
            <mat-label>Forma recebimento / pagamento</mat-label>
            <mat-select multiple>
                <mat-option value=1>Cartão Credito</mat-option>
                <mat-option value=2>Cartão Debito</mat-option>
                <mat-option value=3>Dinheiro</mat-option>
                <mat-option value=4>Pix</mat-option>
                <mat-option value=5>Transferência Bancaria</mat-option>
            </mat-select>
            <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_FIELDS}}</mat-icon>
        </mat-form-field>
    </div>
</div>

<mat-tab-group dynamicHeight>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="mat-icon-actions mr-5">payments</mat-icon>
            <p class="mat-tab-label-text">Contas a Receber</p>
        </ng-template>
        <div class="mat-tab-padding">
            <div class="row">
                <div class="container-table-button">
                    <button mat-flat-button class="btn-table"
                        [matTooltip]="constant_variables.ICON_ACTION_EXPORT_LABEL"><mat-icon>{{constant_variables.ICON_ACTION_EXPORT}}</mat-icon>
                        {{constant_variables.ICON_ACTION_EXPORT_LABEL}}</button>
                    <button mat-flat-button class="btn-table"
                        matTooltip="Criar nova conta a receber"><mat-icon>add</mat-icon> Criar {{textPrincipal}}
                        </button>
                </div>
            </div>

            <div class="row">
                <div class="container-table">
                    <table mat-table [dataSource]="dataSource">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Nome </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="profile">
                            <th mat-header-cell *matHeaderCellDef> Perfil </th>
                            <td mat-cell *matCellDef="let element"> {{element.profile}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let element">
                                <span *ngIf="element.status"
                                    class="mat-span-active">{{constant_variables.ICON_ACTIVE_LABEL}} <mat-icon
                                        class="mat-icon-active">{{constant_variables.ICON_ACTION_ACTIVE}}</mat-icon></span>
                                <span *ngIf="!element.status"
                                    class="mat-span-inactive">{{constant_variables.ICON_INACTIVE_LABEL}} <mat-icon
                                        class="mat-icon-inactive">{{constant_variables.ICON_ACTION_INACTIVE}}</mat-icon></span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="#">
                            <th mat-header-cell *matHeaderCellDef> Ações </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu">
                                    <mat-icon class="mat-icon-actions"
                                        [matTooltip]="constant_variables.ICON_ACTION_LIST_LABEL">{{constant_variables.ICON_ACTION_LIST}}</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item
                                        [matTooltip]="constant_variables.ICON_ACTION_VIEW_LABEL + textPrincipal">
                                        <mat-icon
                                            class="mat-icon-actions">{{constant_variables.ICON_ACTION_VIEW}}</mat-icon>
                                        <span>{{constant_variables.ICON_ACTION_VIEW_LABEL}} {{textPrincipal}}</span>
                                    </button>
                                    <button mat-menu-item
                                        [matTooltip]="constant_variables.ICON_ACTION_EDIT_LABEL &nbsp; + textPrincipal">
                                        <mat-icon
                                            class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
                                        <span>{{constant_variables.ICON_ACTION_EDIT_LABEL}} {{textPrincipal}}</span>
                                    </button>
                                    <button mat-menu-item
                                        [matTooltip]="constant_variables.ICON_ACTION_DELETE_LABEL + textPrincipal">
                                        <mat-icon
                                            class="mat-icon-actions">{{constant_variables.ICON_ACTION_DELETE}}</mat-icon>
                                        <span>{{constant_variables.ICON_ACTION_DELETE_LABEL}} {{textPrincipal}}</span>
                                    </button>
                                    <button mat-menu-item *ngIf="element.status"
                                        [matTooltip]="constant_variables.ICON_ACTION_INACTIVE_LABEL + textPrincipal">
                                        <mat-icon
                                            class="mat-icon-actions">{{constant_variables.ICON_ACTION_INACTIVE}}</mat-icon>
                                        <span>{{constant_variables.ICON_ACTION_INACTIVE_LABEL}} {{textPrincipal}}
                                        </span>
                                    </button>
                                    <button mat-menu-item *ngIf="!element.status"
                                        [matTooltip]="constant_variables.ICON_ACTION_ACTIVE_LABEL + textPrincipal">
                                        <mat-icon
                                            class="mat-icon-actions">{{constant_variables.ICON_ACTION_ACTIVE}}</mat-icon>
                                        <span>{{constant_variables.ICON_ACTION_ACTIVE_LABEL}} {{textPrincipal}} </span>
                                    </button>
                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="tr-header"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="container-pagination">
                    <mat-paginator [pageSizeOptions]="constant_variables.PAGE_SIZE_OPTION" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="mat-icon-actions mr-5">receipt_long</mat-icon>
            <p class="mat-tab-label-text">Contas a pagar</p>
        </ng-template>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="mat-icon-actions mr-5">shopping_cart</mat-icon>
            <p class="mat-tab-label-text">Lista de compras</p>
        </ng-template>
    </mat-tab>
</mat-tab-group>