<div class="container-forgot-psw">
  <!-- LEFT SIDE -->
  <div class="left">
    <div class="brand">
      <div class="logo">WSPA</div>
      <h1>WebSPA</h1>
    </div>
    <p class="description">
      Simples, moderno e feito para você. <br />
      Um template com diversos tipos de tela para futuras aplicações
    </p>
  </div>

  <!-- RIGHT SIDE -->
  <div class="right">
    <mat-card class="forgot-psw-card">
      <div class="header">
        <div class="mini-logo">WSPA</div>
        <p>Solicitação de reset de senha</p>
      </div>

      <form [formGroup]="form" (ngSubmit)="confirm()">
        <mat-form-field appearance="outline" class="w-100 mb-20">
          <mat-label hintLabel="máximo de 80 caracteres"
            >Digite o seu email de acesso</mat-label
          >
          <input
            matInput
            placeholder="Email"
            maxlength="80"
            #userEmail
            formControlName="email"
          />
          <mat-icon matSuffix class="mat-icon-actions">{{
            constant_variables.ICON_ACTION_EMAIL
          }}</mat-icon>
          <mat-hint align="end">{{ userEmail.value.length }}/80</mat-hint>
          <mat-error>{{
            hasErrorFormControl(form.controls["email"])
          }}</mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          class="confirm-btn"
          matTooltip="Confirmar"
          (click)="confirm()"
          [disabled]="!form.valid"
          type="submit"
        >
          <mat-icon>{{ constant_variables.ICON_ACTION_SAVE }}</mat-icon>
          Confirmar
        </button>

        <button
          mat-flat-button
          class="cancel-btn"
          matTooltip="Cancelar"
          [routerLink]="['/login']"
          type="button"
        >
          <mat-icon>{{ constant_variables.ICON_ACTION_CANCEL }}</mat-icon>
          {{ constant_variables.ICON_ACTION_CANCEL_LABEL }}
        </button>
      </form>

      <div>
        <app-footer [classColor]="'text-primary'"></app-footer>
      </div>
    </mat-card>
  </div>
</div>
