<div class="row">
    <div class="container-page">
        <h1 class="text-table">Cadastro de Usuário</h1>
        <p class="text-sub-table"><mat-icon>information</mat-icon> Por meio do cadastro, você será capaz de adicionar
            novos usuários.</p>
    </div>
</div>

<div class="row">
    <div class="container-form">
        <mat-form-field appearance="outline" class="field-form-1">
            <mat-label hintLabel="máximo de 100 caracteres">Nome do Usuário</mat-label>
            <input matInput placeholder="Nome do Usuário" maxlength="100" #nomeUsuario>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{nomeUsuario.value.length}}/100</mat-hint>
        </mat-form-field>
        <mat-form-field class="search-profile" appearance="outline">
            <mat-label>Perfil do Usuário</mat-label>
            <mat-select>
                <mat-option value=1>Administrador</mat-option>
                <mat-option value=2>Colaborador</mat-option>
                <mat-option value=3>Cliente</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="field-form-2" appearance="outline">
            <mat-label>Status do Registro</mat-label>
            <mat-select multiple>
                <mat-option value="one">Ativo</mat-option>
                <mat-option value="two">Inativo</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="field-form-3" appearance="outline">
            <mat-label>Ordernação</mat-label>
            <mat-select>
                <mat-option value="one">Decrescente</mat-option>
                <mat-option value="two">Crescente</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="container-form-button">
        <button mat-flat-button class="btn-table" matTooltip="Cancelar"><mat-icon>cancel</mat-icon> Cancelar</button>
        <button mat-flat-button class="btn-table" matTooltip="Limpar"><mat-icon>brush</mat-icon> Limpar campos</button>
        <button mat-flat-button class="btn-table" matTooltip="Gravar dados"><mat-icon>save</mat-icon> Gravar dados</button>
    </div>
</div>