<div class="row">
    <div class="container-page">
        <h1 class="text-table">{{textTable}}</h1>
        <p class="text-sub-table"><mat-icon>{{constant_variables.ICON_INFORMATION}}</mat-icon>{{subTextTable}}</p>
    </div>
</div>

<div class="row">
    <div class="container-filter">
        <mat-form-field appearance="outline" class="search-name">
            <mat-label hintLabel="máximo de 100 caracteres">Nome do Usuário</mat-label>
            <input matInput placeholder="Nome do Usuário" maxlength="100" #nomeUsuario>
            <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_SEARCH}}</mat-icon>
            <mat-hint align="end">{{nomeUsuario.value.length}}/100</mat-hint>
        </mat-form-field>
        <mat-form-field class="search-profile" appearance="outline">
            <mat-label>Perfil do Usuário</mat-label>
            <mat-select>
                @for(profile of profileList; track profile){
                <mat-option value={{profile.id}}>{{profile.description}}</mat-option>
                }
            </mat-select>
            <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_SEARCH}}</mat-icon>
        </mat-form-field>
        <mat-form-field class="search-status" appearance="outline">
            <mat-label>{{constant_variables.FILTER_STATUS_LABEL}}</mat-label>
            <mat-select multiple>
                @for(status of statusList; track status){
                <mat-option value={{status.id}}>{{status.description}}</mat-option>
                }
            </mat-select>
            <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_SEARCH}}</mat-icon>
        </mat-form-field>
        <mat-form-field class="search-profile" appearance="outline">
            <mat-label>{{constant_variables.FILTER_ORDER_LABEL}}</mat-label>
            <mat-select>
                @for(order of orderList; track order){
                <mat-option value={{order.id}}>{{order.description}}</mat-option>
                }
            </mat-select>
            <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_SEARCH}}</mat-icon>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="container-filter-button">
        <button mat-flat-button class="btn-table"
            [matTooltip]="constant_variables.ICON_ACTION_FILTER_OFF_LABEL"><mat-icon>{{constant_variables.ICON_ACTION_FILTER_OFF}}</mat-icon>
            {{constant_variables.ICON_ACTION_FILTER_OFF_LABEL}}</button>
        <button mat-flat-button class="btn-table"
            [matTooltip]="constant_variables.ICON_ACTION_FILTER_LABEL"><mat-icon>{{constant_variables.ICON_ACTION_FILTER}}</mat-icon>
            {{constant_variables.ICON_ACTION_FILTER_LABEL}}</button>
    </div>
</div>

<mat-divider></mat-divider>

<div class="row">
    <div class="container-table-button">
        <h1 class="text-table">{{textTableOptional}}</h1>
        <button mat-flat-button class="btn-table"
            [matTooltip]="constant_variables.ICON_ACTION_EXPORT_LABEL"><mat-icon>{{constant_variables.ICON_ACTION_EXPORT}}</mat-icon>
            {{constant_variables.ICON_ACTION_EXPORT_LABEL}}
        </button>
        <button mat-flat-button class="btn-table"
            [matTooltip]="constant_variables.ICON_ACTION_ADD_LABEL + ' ' + actionLabel"
            [routerLink]="['new']"><mat-icon>{{constant_variables.ICON_ACTION_ADD}}</mat-icon>
            {{constant_variables.ICON_ACTION_ADD_LABEL}} {{actionLabel}}</button>
    </div>
</div>

<div class="row">
    <div class="container-table">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef> Perfil </th>
                <td mat-cell *matCellDef="let element"> {{element.profile}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.status" class="mat-span-active">{{constant_variables.ICON_ACTION_ACTIVE_LABEL}}
                        <mat-icon class="mat-icon-active">{{constant_variables.ICON_ACTION_ACTIVE}}</mat-icon></span>
                    <span *ngIf="!element.status"
                        class="mat-span-inactive">{{constant_variables.ICON_ACTION_INACTIVE_LABEL}} <mat-icon
                            class="mat-icon-inactive">{{constant_variables.ICON_ACTION_INACTIVE}}</mat-icon></span>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="mat-icon-actions"
                            [matTooltip]="constant_variables.ICON_ACTION_LIST_LABEL">{{constant_variables.ICON_ACTION_LIST}}</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item [matTooltip]="constant_variables.ICON_ACTION_VIEW_LABEL + actionLabel">
                            <mat-icon class="mat-icon-actions">{{constant_variables.ICON_ACTION_VIEW}}</mat-icon>
                            <span>{{constant_variables.ICON_ACTION_VIEW_LABEL}} {{actionLabel}}</span>
                        </button>
                        <button mat-menu-item [matTooltip]="constant_variables.ICON_ACTION_EDIT_LABEL + actionLabel">
                            <mat-icon class="mat-icon-actions">{{constant_variables.ICON_ACTION_EDIT}}</mat-icon>
                            <span>{{constant_variables.ICON_ACTION_EDIT_LABEL}} {{actionLabel}}</span>
                        </button>
                        <button mat-menu-item [matTooltip]="constant_variables.ICON_ACTION_DELETE_LABEL + actionLabel">
                            <mat-icon class="mat-icon-actions">{{constant_variables.ICON_ACTION_DELETE}}</mat-icon>
                            <span>{{constant_variables.ICON_ACTION_DELETE_LABEL}} {{actionLabel}}</span>
                        </button>
                        <button mat-menu-item *ngIf="element.status"
                            [matTooltip]="constant_variables.ICON_ACTION_INACTIVE_LABEL + actionLabel">
                            <mat-icon class="mat-icon-actions">{{constant_variables.ICON_ACTION_INACTIVE}}</mat-icon>
                            <span>{{constant_variables.ICON_ACTION_INACTIVE_LABEL}} {{actionLabel}}
                            </span>
                        </button>
                        <button mat-menu-item *ngIf="!element.status"
                            [matTooltip]="constant_variables.ICON_ACTION_ACTIVE_LABEL + actionLabel">
                            <mat-icon class="mat-icon-actions">{{constant_variables.ICON_ACTION_ACTIVE}}</mat-icon>
                            <span>{{constant_variables.ICON_ACTION_ACTIVE_LABEL}} {{actionLabel}} </span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="tr-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="container-pagination">
        <mat-paginator [pageSizeOptions]="constant_variables.PAGE_SIZE_OPTION" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>