<div class="row">
    <div class="container-page">
        <h1 class="text-table">{{textPage}}</h1>
        <p class="text-sub-table"><mat-icon>{{constant_variables.ICON_INFORMATION}}</mat-icon>{{subTextPage}} </p>
    </div>
</div>

<app-details-record [id]="form.controls['id'].value"></app-details-record>

<form [formGroup]="form">
    <div class="row">
        <div class="container-form-col">
            <mat-form-field appearance="outline" class="field-form">
                <mat-label hintLabel="máximo de 80 caracteres">Digite o email do usuário</mat-label>
                <input matInput placeholder="Email do Usuário" maxlength="80" #emailUsuario
                    formControlName="emailUsuario" [disabled]="true">
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_LOCK}}</mat-icon>
                <mat-hint align="start" class="mat-icon-actions">{{constant_variables.ICON_ACTION_LOCK_LABEL}}</mat-hint>
                <mat-hint align="end" class="mat-icon-actions">{{emailUsuario.value.length}}/80</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" class="field-form">
                <mat-label hintLabel="máximo de 100 caracteres">Digite o nome do usuário</mat-label>
                <input matInput placeholder="Nome do Usuário" maxlength="100" #nomeUsuario formControlName="nomeUsuario"
                    [attr.disabled]="true">
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_LOCK}}</mat-icon>
                <mat-hint align="start" class="mat-icon-actions">{{constant_variables.ICON_ACTION_LOCK_LABEL}}</mat-hint>
                <mat-hint align="end" class="mat-icon-actions">{{emailUsuario.value.length}}/80</mat-hint>
            </mat-form-field>
            <mat-form-field class="field-form" appearance="outline">
                <mat-label>Selecione o perfil do usuário</mat-label>
                <mat-select formControlName="perfilUsuario" [disabled]="true">
                    @for(profile of profileList; track profile){
                    <mat-option value={{profile.id}}>{{profile.description}}</mat-option>
                    }
                </mat-select>
                <mat-icon matSuffix class="mat-icon-actions">{{constant_variables.ICON_ACTION_LOCK}}</mat-icon>
                <mat-hint align="start" class="mat-icon-actions">{{constant_variables.ICON_ACTION_LOCK_LABEL}}</mat-hint>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="container-form-button">
            <button mat-flat-button class="btn-table" matTooltip="Voltar"
                [routerLink]="['/users']"><mat-icon>{{constant_variables.ICON_ACTION_UNDO}}</mat-icon>
                {{constant_variables.ICON_ACTION_UNDO_LABEL}}</button>
        </div>
    </div>
</form>