<div class="row">
    <div class="container-page">
        <h1 class="text-table">Visualização do Usuário</h1>
        <p class="text-sub-table"><mat-icon>information</mat-icon> Por meio da visualização, você será capaz de analisar
            os dados do usuário, sem possibilidade de editar os dados.</p>
    </div>
</div>

<div class="row">
    <div class="container-form">
        <mat-form-field appearance="outline" class="field-form-1">
            <mat-label hintLabel="máximo de 100 caracteres">Digite o nome do usuário</mat-label>
            <input matInput placeholder="Nome do Usuário" maxlength="100" #nomeUsuario disabled="true">
            <mat-icon matSuffix class="mat-icon-actions">lock</mat-icon>
            <mat-hint align="end">{{nomeUsuario.value.length}}/100</mat-hint>
        </mat-form-field>
        <mat-form-field class="search-profile" appearance="outline">
            <mat-label>Selecione o perfil do usuário</mat-label>
            <mat-select disabled="true">
                <mat-option value=1>Administrador</mat-option>
                <mat-option value=2>Colaborador</mat-option>
                <mat-option value=3>Cliente</mat-option>
            </mat-select>
            <mat-icon matSuffix class="mat-icon-actions">lock</mat-icon>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="container-form-button">
        <button mat-flat-button class="btn-table" matTooltip="Voltar" [routerLink]="['/users']"><mat-icon>undo</mat-icon> Voltar</button>
    </div>
</div>