<div class="row">
    <div class="container-page">
        <h1 class="text-table">Filtro de pesquisa</h1>
        <p class="text-sub-table"><mat-icon>information</mat-icon> Por meio da consulta, você pode consultar diferentes
            usuários, ou realizar uma busca mais
            aprofundada,
            preenchendo 1 ou mais campos dos filtros abaixo.</p>
    </div>
</div>

<div class="row">
    <div class="container-filter">
        <mat-form-field appearance="outline" class="search-name">
            <mat-label hintLabel="máximo de 100 caracteres">Nome do Usuário</mat-label>
            <input matInput placeholder="Nome do Usuário" maxlength="100" #nomeUsuario>
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-hint align="end">{{nomeUsuario.value.length}}/100</mat-hint>
        </mat-form-field>
        <mat-form-field class="search-profile" appearance="outline">
            <mat-label>Perfil do Usuário</mat-label>
            <mat-select>
                <mat-option value=1>Administrador</mat-option>
                <mat-option value=2>Colaborador</mat-option>
                <mat-option value=3>Cliente</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="search-status" appearance="outline">
            <mat-label>Status do Registro</mat-label>
            <mat-select multiple>
                <mat-option value="one">Ativo</mat-option>
                <mat-option value="two">Inativo</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="search-profile" appearance="outline">
            <mat-label>Ordernação</mat-label>
            <mat-select>
                <mat-option value="one">Decrescente</mat-option>
                <mat-option value="two">Crescente</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="container-filter-button">
        <button mat-flat-button class="btn-table" matTooltip="Limpar"><mat-icon>filter_alt_off</mat-icon> Limpar</button>
        <button mat-flat-button class="btn-table" matTooltip="Filtrar"><mat-icon>search</mat-icon> Filtrar</button>
    </div>
</div>

<mat-divider></mat-divider>

<div class="row">
    <div class="container-table-button">
        <h1 class="text-table">Lista de Usuários registrados</h1>
        <button mat-flat-button class="btn-table" matTooltip="Exportar dados"><mat-icon>download</mat-icon> Exportar dados</button>
        <button mat-flat-button class="btn-table" matTooltip="Criar Novo Usuario"><mat-icon>add</mat-icon> Criar Novo Usuario</button>
    </div>
</div>

<div class="row">
    <div class="container-table">
        <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                <td mat-footer-cell *matFooterCellDef> Total </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef> Perfil </th>
                <td mat-cell *matCellDef="let element"> {{element.profile}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="element.status" class="mat-span-active">Ativo <mat-icon
                            class="mat-icon-active">check</mat-icon></span>
                    <span *ngIf="!element.status" class="mat-span-inactive">Inativo <mat-icon
                            class="mat-icon-inactive">close_small</mat-icon></span>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="mat-icon-actions" matTooltip="Exibir Ações">more_horiz</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item matTooltip="Visualizar Usuário">
                            <mat-icon class="mat-icon-actions">visibility</mat-icon>
                            <span>Visualizar Usuário</span>
                        </button>
                        <button mat-menu-item matTooltip="Editar Usuário">
                            <mat-icon class="mat-icon-actions">edit</mat-icon>
                            <span>Editar Usuário</span>
                        </button>
                        <button mat-menu-item matTooltip="Deletar Usuário">
                            <mat-icon class="mat-icon-actions">delete</mat-icon>
                            <span>Deletar Usuário</span>
                        </button>
                        <button mat-menu-item [matTooltip]="element.status ? 'Inativar Usuário' : 'Ativar
                        Usuário'">
                            <mat-icon class="mat-icon-actions" *ngIf="element.status">close</mat-icon>
                            <mat-icon class="mat-icon-actions" *ngIf="!element.status">check</mat-icon>
                            <span>{{element.status ? 'Inativar Usuário' : 'Ativar
                                Usuário'}}</span>
                        </button>
                    </mat-menu>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="tr-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="container-pagination">
        <mat-paginator [pageSizeOptions]="[5, 10, 20,40]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>